body{
    background-color: #130358;
    margin: 20px 20px;
    color:#e0e0e0;
    font-size:20px;
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  fieldset{
    border-color: #0420bb;
    margin-bottom: 20px;
  }

  input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  input[type='radio']:checked:after {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #3fff05;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
  }

  input[type='radio']:checked + label{
    color: green
  }
  fieldset.borderBlanco {
    border-color: #e0e0e0;
  }
  legend{
    font-weight: bold;
  }
  .ContainerGraficos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .BoxGraficosTotales{
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .ContainerGraficosArea{
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .BoxGraficosArea{
    display: flex;
    width: 50%;
    height: auto;
    flex:50%;
    align-items: center;
    justify-content: center;
  }

  /* table{
    border-collapse: collapse;  
  } */

  table, td, th{
    margin-left: auto;
    margin-right: auto;
  }

  table{
    border: 1px solid;
    text-align: center;
    width: 80%;
  }

  td{
    width: 16%;
  }

   #tableRowVata{
    background-color: rgb(200, 245, 245);
    color: black;
   }

   #tableRowPitta{
    background-color: rgb(245, 200, 200);
    color: black;
   }

   #tableRowKapha{
    background-color: rgb(242, 245, 200);
    color: black;
   }

   .hide{
    display: none;
  }
  .show{
    display: flex;
  }

  .showTable{
    display: table;
  }

  @media (max-width: 720px) {
    body{
      font-size:16px;
    }
    .ContainerGraficos{
      flex-direction: column;
    }
    .BoxGraficosArea{
      flex:100%;
      height: auto;
    }
    table {
      width: 90%;
      font-size:10px;
    }
  }
  